[2020-11-25 21:27] doughsay opened #9 "[FEATURE] Allow using the TelemetryMetricsPrometheus built-in server"
**Is your feature request related to a problem? Please describe.**
In our deployment, we need the prometheus metrics server to be a separate server. The `TelemetryMetricsPrometheus` package provides this server for us, and we have been using it successfully.

**Describe the solution you would like to see**
A way to use the built in server provided by `TelemetryMetricsPrometheus`.

**How would you

[2020-11-25 23:59] akoutmos commented on #9
Hey Chris! I'm glad to hear that you are considering using PromEx to capture your application metrics :).

After looking at the docs for `TelemetryMetricsPrometheus`, it should actually be rather straight forward to use PromEx in conjunction with `TelemetryMetricsPrometheus` to surface metrics. I haven't given this a shot in a real application, but my hunch is that you can do something like so in

[2020-11-26 01:17] doughsay commented on #9
Thanks for the response!  Unfortunately I don't think this works...  `TelemetryMetricsPrometheus` will try and start a process with the given name, but PromEx already started a process with that name, so it crashes on boot.

I see what you're tying to do though, we need the call to `TelemetryMetricsPrometheus.Core.scrape(name)` to pass in the right name.  Honestly, after looking through the source

[2020-11-26 01:47] doughsay commented on #9
Just as a really rough example:

[code]

[code]

Feels like this could be easily added to PromEx as an option (if you wanted to)

[2020-11-26 02:27] akoutmos commented on #9
Ah I see. It uses the name for both the name of the process and the name of the metrics process to scrape. I can add a standalone server utility to PromEx. Shouldn't be a lot of work to get it in there. I'll whip something together and loop you in to see if it does what you need.

Out of curiosity, what is the motivation for running a separate server process for metrics? To have something running

[2020-11-26 05:23] doughsay commented on #9
Yes, I think that's the main motivation. It's a requirement (or rather more of a desire) from our DevOps team. It also mimicks how all our other prometheus metrics work (e.g. ruby apps, etc.)

Also, we're building a large monolithic umbrella app (with at least a dozen separate applications), not a standard Elixir/Phoenix app. And eventually (not yet) we will be releasing and deploying just subsets

[2020-11-26 17:59] akoutmos commented on #9
Gotcha. Appreciate the insight. I'll work on something in the coming days and hope to cut a new alpha release with this added to it early next week :)

[2020-12-02 03:17] akoutmos commented on #9
@doughsay I'm almost done with PR #10 but was wondering if you require support for `Authorization` header checks in the standalone server? Prom supports both basic and bearer token auth and I was curious if you leverage either auth strategy?

[2020-12-02 03:19] doughsay commented on #9
Hey, thanks for all this!

We do not require any authorization checks for the standalone server.

[2020-12-02 07:22] akoutmos commented on #9
I just cut the 0.1.7-alpha release that includes the standalone Cowboy server. If you add the following to your config it should start a separate cowboy server for you and put it under the PromEx supervisor:

[code]

Take a look at the docs for more config options https://hexdocs.pm/prom_ex/0.1.7-alpha/PromEx.Config.html.

Let me know how this works out for you and your team!

[2020-12-02 07:22] #9 closed

[2020-12-03 18:47] akoutmos opened #12 "[BUG] Grafana client breaks with trailing slash in config"
**Describe the bug**
When configuring the Grafana client, if there is a trailing slash the uploader fails to upload the configured dashboards.

**To Reproduce**
Works:
[code]

Doesn't work:
[code]

[2020-12-03 19:53] akoutmos commented on #12
Addressed in #13

[2020-12-03 21:54] #12 closed

[2020-12-04 18:58] akoutmos opened #15 "Templatize dashboard thresholds based off of real system limits"
It's difficult to pick a sensible default, consider using a percentage of the memory available on the system instead.

_Originally posted by @gerhard in https://github.com/akoutmos/prom_ex/pull/14#discussion_r536254645_

[2021-02-08 19:39] djthread opened #24 "[BUG] Dialyzer error for my app, using PromEx"
**Describe the bug**
My `use PromEx, otp_app: :my_app` is causing the following dialyzer error:

[code]

**To Reproduce**
Steps to reproduce the behavior:

1.  Create a new phoenix app
2. Follow PromEx setup instructions

**Expected behavior**
no dialyzer warnings

**Environment**

- Elixir version: 1.11.2
- Erlang/OTP version:
- Grafana version:
- Prometheus version:

**Additional context**
Add a

[2021-02-09 14:27] stefanluptak commented on #24
Same here.

[code]

[2021-02-09 14:57] akoutmos commented on #24
Thanks for opening up the issue @djthread and thanks for verifying @stefanluptak ! I was able to root cause the issue and will have a fix out along with a new version in the coming days :).

[2021-02-10 02:34] akoutmos commented on #24
Just published version 0.1.14-beta to Hex that includes the fix for this as well as a LiveView plugin and Grafana dashboard. Feel free to reopen the issue if the dialyzer error does not go away :).

[2021-02-10 02:34] #24 closed

[2021-02-10 08:33] stefanluptak opened #25 "[BUG] Sample dashboard screenshots link not working in docs"
When browsing https://hexdocs.pm/prom_ex/readme.html#available-plugins and I click the [Click here](https://hexdocs.pm/prom_ex/grafana-dashboards.html) link, it goes to error 404.

<img width="547" alt="Screenshot 2021-02-10 at 09 32 39" src="https://user-images.githubusercontent.com/23926/107484631-fda06580-6b82-11eb-8a80-9a45bafbfad6.png">

[2021-02-10 15:25] akoutmos commented on #25
I'll put a gallery together today/tomorrow for each of the existing dashboards for that link to work. Thanks for finding that!

[2021-02-13 03:57] akoutmos commented on #25
Just published a new version of the docs to Hex with all of the dashboard screenshots https://hexdocs.pm/prom_ex/all.html.

Thanks for opening up the issue!

[2021-02-13 03:57] #25 closed

[2021-02-19 17:39] mikl opened #30 "Question: what is meant by datasource ID?"
First of all, thanks for creating prom_ex.

Sorry if this is a really dumb question, but I was a bit confused by the instruction here:

I could not find any explanation of what you mean by `YOUR_PROMETHEUS_DATASOURCE_ID`. I presume it would be something like the application name? Maybe it corresponds to the service name in Prometheus?

Again, sorry if I’m being dumb here, but I figured I might not

[2021-02-19 18:32] akoutmos commented on #30
Hey @mikl! Not a dumb question at all! As the library author I take for granted terminology that I use and issues like your help me make the documentation more thorough and explicit :).

The datasource ID is the ID of your Prometheus datasource in Grafana (see highlighted field in image below).

![image](https://user-images.githubusercontent.com/4753634/108546151-b7e84900-72b6-11eb-954e-f7cecba296

[2021-02-19 19:10] mikl commented on #30
Ah, I didn’t think about Grafana. Thanks for explaining, and thanks again for making this.

[2021-02-20 01:34] akoutmos commented on #30
Added a note in the readme on this. Thanks again!

[2021-02-20 01:34] #30 closed

[2021-02-27 01:15] doughsay opened #31 "[BUG] ecto plugin prefix doesn't match default dashboard"
**Describe the bug**
I'm in an umbrella application with several sub-applications each with their own ecto repo, so I'm trying to start the prom_ex ecto plugin for one of them, like this:

[code]

This generates prometheus metrics like this:

[code]

But the provided default ecto grafana dashboard looks like it's using metric names with the `prefect_` prefix, e.g.:

[code]

[code]

`prefect` is th

[2021-02-27 02:19] akoutmos commented on #31
Hey Chris!

There are actually some undocumented features in PromEx that allow you to do this. I need to tidy up that API though prior to exposing that functionality though. I should be able to wrap this up by middle-end of next week :).

[2021-02-28 22:23] akoutmos commented on #31
If it is not too much trouble @doughsay, would you mind taking branch `supporting_multiple_plugin_definitions` for a test drive? I don't have a sample umbrella application with multiples repos that i can test against on hand and could use the additional validation.

Your configuration should look something like so:

[code]

[2021-03-01 18:16] mrjoelkemp opened #33 "[Question] How can we supply an alternative reporter?"
Hey Alex,

We don't use prometheus, but have a custom metrics aggregator. I already have a reporter library that will connect to that aggregator and push metrics to it. I have two possible integration paths:

1. Reuse the PromEx plugs with our custom reporter. That way, we get the metrics emitting, get to use our own reporter, but also lose the dashboards.
2. Let PromEx do everything with the abil

[2021-03-01 18:20] doughsay commented on #31
This looks great!  I will try and get to it today and let you know, thanks!

[2021-03-01 18:21] akoutmos commented on #31
Thanks @doughsay! Appreciate the speedy testing :D

[2021-03-01 18:37] akoutmos commented on #33
This is an interesting question, and something that I battled with when I started writing PromEx.

Currently there is no way to swap reporters. Prometheus is the only option supported by PromEx. The reason for this being that the dashboards that are included with PromEx and uploaded to Grafana are coupled to the metrics that are generated from the plugins. I craft each of the PromQL queries for ea

[2021-03-02 02:46] doughsay commented on #31
Hey!  I managed to try this out tonight, and here are my findings:

The grafana dashboard isn't / wasn't working because it isn't using the right queries to find the variables:

* e.g.: there is no `ops_prom_ex_prom_ex_status_info`, because the otp_app running prom_ex is `prefect`, not `ops` (so I changed these to `prefect_prom_ex_prom_ex_status_info`)
* e.g.: there is no `ops_prom_ex_ecto_repo_in

[2021-03-02 04:31] akoutmos commented on #31
Sorry that that didn't work out as I expected :/. If you wouldn't mind putting together a sample umbrella app for me to test against, that would probably be the best way to root cause and fix this one.

[2021-03-03 18:18] mrjoelkemp commented on #33
Thanks for the context, Alex. We're able to punt on this need in the short term, so in the future, I'll hack my way around to see how to reuse some of the plugins independently. The easiest/ideal path integration for us would be to reuse your plugins and bypass both prometheus and the grafana dashboard population. I understand that's violating some key design decisions.

Thanks again for the conte

[2021-03-03 18:18] #33 closed

[2021-03-03 18:20] akoutmos commented on #33
Sounds good! Sorry I couldn't have a better answer for you...but I will keep this in mind because it has come up a few times now.

[2021-03-04 12:35] moogle19 opened #34 "[BUG] Error when Oban Plugins are configured with options"
**Describe the bug**

When Oban plugins (e.g. `Oban.Pruner`) are configured with options, `PromEx` fails during startup.
I suspect it's because the Oban plugins are converted to string, but this fails when options for the plugin are provided.
Following error occurs:

[code]

Oban config:

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Add `Oban` to your application and configure `Ob

[2021-03-04 16:32] akoutmos commented on #34
The fix will be included in 1.0.1. Thanks again!

[2021-03-04 16:32] #34 closed

[2021-03-05 04:23] akoutmos commented on #34
Just published 1.0.1 to Hex https://hex.pm/packages/prom_ex

[2021-03-11 17:22] aloukissas opened #36 "[improvement] Make it explicit in docs that custom metrics require custom plugin"
When defining our own custom telemetry events (e.g. "my_app.module.func.duration"), it's not entirely obvious from the docs that we need to write our own plugin to let prom_ex know about them and expose them to `/metrics`. What's more confusing, it's not clear that the definitions in `telemetry.ex` are for LiveDashboard, which `prom_ex` doesn't know of (or depend on).

[2021-03-14 22:28] akoutmos commented on #31
Hey @doughsay! Any luck on getting a sample app put together for this?

[2021-03-14 22:29] doughsay commented on #31
It just so happens I'm working on it today!  It's not quite done yet, but I'll let you know as soon as it is 😁

[2021-03-14 22:42] akoutmos commented on #36
Added some docs to talk about adding your own metrics and also talk about the differences between LiveDashboard and PromEx (3fb1598084cd470bd6119e1d80952fc69ce1e491). Thanks for the input!

[2021-03-14 22:42] #36 closed

[2021-03-14 22:43] akoutmos commented on #31
Awesome! Appreciate you putting that together :).

[2021-03-15 01:16] doughsay commented on #31
Hey @akoutmos,

I've run out of time for today, but I have something that at least seems to expose a few problems so far: https://github.com/doughsay/prom_ex_umbrella_example

It's a bit rough around the edges, but I hope you can get it running. I hacked in a quick ecto query by visiting the index page of the phoenix app "WebOne", just to get ecto doing something basic.

Things of note:
* The phoe

[2021-03-15 12:21] pallix opened #40 "Invalid dashboard_definition type"
Hi there,

First thanks for creating this very useful library!

I have notice a small oddity: the code in `dashboard_uploader.ex` allow the user to specify extra dashboard option with the `dashboard_opts` variable. I personally used it like that:

[code]

The last line is the dashboard definition and `source` is the module, `path` the json file and so on. `dashboard_uid` implements my own uid func

[2021-03-15 17:48] akoutmos commented on #40
Good catch on the incorrect Typespec! I'll get a commit pushed up for that shortly.

As a side note, Grafana is a little weird with how it resolves and overwrites existing dashboards (which is why i implemented it the way I did unfortunately). If the name OR the UID collides, then Grafana will overwrite an existing dashboard hence why I dynamically generate the UID based on a few bits of informati

[2021-03-15 17:53] akoutmos commented on #40
Just pushed commit 45364f24baa98db0a3f44e99212bb3e34eab62c9 to address the typespec issue. Let me know if you have any issues using master instead of `1.0.1`. Else I'll close this issue in a couple days.

[2021-03-15 18:03] pallix commented on #40
Thank you very much for the information! I did prefix with the environment but I did not know it would have caused a problem otherwise :-)!

I will check if I can remove the uuid, it would be good.

I will also check the type tomorrow and come back to you.

[2021-03-15 18:25] akoutmos commented on #31
Awesome work! I'll take a look at the repro project and get back to you with some ideas. Thanks :)

[2021-03-15 18:26] akoutmos commented on #40
No problem :). Let me know how it works out for you!

[2021-03-15 18:55] doughsay commented on #31
Just FYI, I realized my instructions for getting things running are missing a step: you have to run the ecto migrations and db creation using mix, but the config files are set up to only work while running inside docker.  The quickest workaround is:

* edit the config/dev.exs file to change the db hostname from `postgres` to `localhost`
* run `mix ecto.create` and `mix ecto.migrate`
* edit the con

[2021-03-16 13:50] pallix commented on #40
It fixed the problem, thank you very much :)

[2021-03-16 13:52] akoutmos commented on #40
Awesome! I'll close out the issue for now and cut a new release either today or tomorrow pending some other small things :). Thanks again!

[2021-03-16 14:01] pallix commented on #40
P.S: having just a title such as `title: "#{deployment_env} - #{otp_app} BEAM dashboard"` without defining `dashboard_uid` is not enough. When changing `deployment_env`, it overrides the previous dashboard from another env.

[2021-03-16 14:41] akoutmos commented on #40
Hrmm. I'll open this one up again and take a look as that shouldn't happen. Thanks for reporting back

[2021-03-17 02:47] akoutmos commented on #40
I just realized that I haven't actually merged that fix in yet https://github.com/akoutmos/prom_ex/pull/32. It's been a busy couple of weeks and I forget to get that one in. Once it is in you should be good to go.

[2021-03-17 09:08] pallix commented on #40
It explains the situation :-). Many thanks!

[2021-03-17 09:48] Bastes opened #42 "[FEATURE] Configurable metrics prefix"
# Problem

In a microservice-heavy environment, it can be useful to have dashboards that aggregate common metrics (i.e vm memory footprint, query counts and response times, etc.) with a variable to switch between apps rather than as many dashboards as there are apps.

In such an environment, prefixing all metrics with the app name is makes it harder to write such dashboards, and when all metrics a

[2021-03-17 10:17] Bastes commented on #42
(by the way, feel free to assign me since I'm planning on sending a PR)

[2021-03-18 11:51] saulbensach opened #43 "[FEATURE] Datasource ID should be able to be configured inside config.ex/dev.ex/ etc."
**Is your feature request related to a problem? Please describe.**
I have a problem where we have different prometheus datasource names, so I need to be able to change the datasource_id in dashboard_assings depending on my env.
I can always create a new config env variable and write code inside `dashboard_assigns/0` call but it would be nice if prom_ex handles this.

**Describe the solution you wo

[2021-03-18 13:57] akoutmos commented on #43
Thanks for opening up the issue! The funny thing is that this is how I had this configured when PromEx was in Alpha. The reason that I decided to switch it to the way that it is now is that it is more explicit as to what is going on now (the datasource id is passed as an assign to the dashboard template). In addition, given that the `dashboard_assigns/0` function is is completely under your contro

[2021-03-18 14:02] saulbensach commented on #43
Hey, makes total sense. Thanks for taking your time.

[2021-03-18 14:02] #43 closed

[2021-03-20 02:20] akoutmos commented on #40
With https://github.com/akoutmos/prom_ex/pull/32 merged this should be resolved in the next release. Feel free to give the master branch a whirl again and reopen the issue if your problem persists.

[2021-03-20 02:20] #40 closed

[2021-03-20 03:43] akoutmos commented on #31
I should be able to get to this early next week. Started digging in and I think I have a plan as to how to move forward.

[2021-03-24 15:35] akoutmos opened #44 "Add support to bundle GrafanaAgent to push metrics"
Prometheus by design is a pull based metrics solution. The GrafanaAgent leverages the remote_write functionality of Prometheus though to enable "push" style metrics collection. PromEx should have the ability to bundle the GrafanaAgent, supervise it's execution via a Port, and push metrics to a remote Prometheus instance.

[2021-04-01 20:56] akoutmos commented on #31
Just bumping this one so you don't think that I forgot about it :P. I've played around with a couple different ideas as to how this can cleanly be supported. Shooting to have something reviewable by next week!

[2021-04-01 21:12] doughsay commented on #31
@akoutmos thanks for the update!  I myself have been super busy lately and was not able to get back to rounding out that example app more past just the bare bones I sent you...  Is what's there good enough to fully demonstrate the problem?  Or could you still benefit from me adding more examples to the example app?

Let me know and I'll see if I can many get some more work done on it soon!

[2021-04-01 21:15] akoutmos commented on #31
Appreciate it! The example you provided is more than sufficient. I'm working on also integrating that into the example applications directory as that will be a good E2E test app.

[2021-04-02 17:29] keatz55 opened #45 "[FEATURE] Enable Grafana Basic Auth"
# Problem
Many users setup Grafana and Prometheus via IaC workflows where generating, reading, and storing Grafana API tokens can be too much unnecessary overhead when compared with basic auth. Also, Grafana does not currently allow a way to initialize the app with default API tokens, but does allow initialization with basic auth credentials. As a result, this can make uploading Grafana dashboards

[2021-04-02 18:03] akoutmos commented on #45
Hey @keatz55, that's a really good idea. Sounds like your proposed implementation is all that is needed. Is this something you want to take on and make a PR for?

[2021-04-02 18:08] keatz55 commented on #45
@akoutmos Thanks for the response. I'll jump on it. PR incoming.

[2021-04-02 18:12] akoutmos commented on #45
Awesome! Thanks :)

[2021-04-06 22:39] akoutmos opened #47 "Switch back to mainline TelemetryMetricsPrometheusCore"
PromEx currently relies on a forked version of TelemetryMetricsPrometheusCore. Once this PR is merged in and a new release of TelemetryMetricsPrometheusCore has been cut, remove the forked references and use TelemetryMetricsPrometheusCore directly instead.

https://github.com/beam-telemetry/telemetry_metrics_prometheus_core/pull/33

[2021-04-06 22:45] #45 closed

[2021-04-15 14:32] pallix opened #48 "Sharing a grafana folder between multiple applications"
**Is your feature request related to a problem? Please describe.**
I'm uploading dashboards from several applications in a folder with the same name. This triggers this error:
[code]

**Describe the solution you would like to see**
I would like to group my dashboards according to their deployment environment. Each environment contains different applications. This is currently not possible because

[2021-04-15 17:11] akoutmos commented on #48
Thanks for opening up the issue. That totally makes sense. Would it be helpful if I expose a config field for providing your own UID for the folder? That way you can provide the ID else I can make it for you? The Grafana API is a bit weird with the names+ids of dashboards and folders hence why I've had to put in place the md5 hashes and stuff like that.

Let me know if the proposed solution works

[2021-04-15 17:39] pallix commented on #48
And thanks for the quick feedback :-). A config field along `folder_name` for example? Advantage is that it's simple but I'm not sure which value I would need to put in it? As far as I know you can't do calculate much in config files.

For the moment I have, for example in `config/dev.exs`:

[code]

so it would look like this:

[code]

where `???` is maybe `(System.get_env("DEPLOYMENT_ENV") || "de

[2021-04-18 18:37] akoutmos commented on #48
The UID can be any 40 character string the uniquely identifies the folder. Currently I calculate that for you under the hood so if I change how I calculate that value it will be a breaking change for all existing deployments. Off loading that to config (like how I proposed) would allow you to get around the current limitation without introducing a breaking change. Thoughts?

[2021-04-19 10:00] pallix commented on #48
Ok then something like:

[code]

should work. It's good for me. If you can create a branch, I can test it on my setup and give you feedback.

[2021-04-22 02:52] akoutmos commented on #48
Sounds good. I'll try and put something together mid next week for this :).

[2021-04-22 08:11] pallix commented on #48
awesome, thank you!

[2021-04-23 10:15] pallix opened #49 "[BUG] Memory leak via the ETS tables"
**Describe the bug**
When defining a few metrics and starting my Elixir application, the ETS table growth constantly until there is no more RAM on the server.

**To Reproduce**

I use PromEx with default application and beam dashboards and one custom dashboards.
I define these metrics in prom_ex:

[code]
One a second this event is fired:

[code]

and one second this one
[code]

I make a release an

[2021-04-23 15:02] akoutmos commented on #49
Thanks for opening up this issue. A couple questions to help figure out what's going on.

During this time of constant memory consumption, have you scraped your metrics at all? With distributions specifically, if metrics are not scrapped, they sit in ETS until the TelemetryMetricsPrometheus.Core.Aggregator aggregates and clears them (see not here https://github.com/beam-telemetry/telemetry_metrics

[2021-04-26 10:30] xaviRodri opened #50 "[BUG] When starting an isolated metrics sever, it keeps the plug one too"
**Describe the bug**
When using a Phx appliaction, with its own `endpoint.ex` and so, we already have the prom_ex `/metrics` endpoint in the same `MyApp.Endpoint`. This happens because we add the `PromEx.Plug` to the `Endpoint`.
If we want this server to be in another port, first thing we will try is to use this `metrics_server` config where we can specify another route for the metrics. The proble

[2021-04-26 12:42] pallix commented on #49
Probably not. I missed that in the documentation, thank you. I'm making now a test with the scrapping. It looks better already ; I will let it run for a while.

I think the current behavior is problematic:
- if the dashboards fail to upload, metrics won't be scrapped so it will trigger a leak in the app
- if prometheus fails itself for whatever reason or is down for maintenance, it will trigger a

[2021-04-26 14:39] akoutmos commented on #50
The `metrics_server` config is an optional config where you can user that *instead* of the plug. If I read your issue correctly it sounds like all you need to do is remove the PromEx plug entry in `endpoint.ex` and the standalone metrics server will be the only thing hosting metrics.

[2021-04-26 15:11] akoutmos commented on #49
100% agree. I meant it more as a test to validate that that was actually the problem as opposed to a solution :). I have a pretty good idea as to how to solve the problem. If I create a branch with a fix can you give it a test drive?

[2021-04-26 15:26] pallix commented on #49
Yes! I'm still on the dev phase for this and we have some monitoring on the servers so I could identify a leak.

[2021-04-26 16:30] akoutmos commented on #49
https://github.com/akoutmos/prom_ex/pull/51 Can you give that branch a test drive while I wrap up some unit tests? I tested it out on the example app and it looks like it is working as expected :).

[2021-04-26 18:12] akoutmos commented on #49
That PR is good to go with tests. I'll merge it in after I get the green light from you that it fixes the issue on your end. Thanks for the assistance :).

[2021-04-26 18:22] pallix commented on #49
I will check tomorrow, thanks!

[2021-04-26 18:35] akoutmos commented on #49
Sounds good! Thanks!

[2021-04-27 08:26] xaviRodri commented on #50
True fact.. sorry for the silly question!

[2021-04-27 08:26] #50 closed

[2021-04-28 04:34] #49 closed

[2021-04-29 01:14] akoutmos commented on #48
I haven't forgotten about this. I have a fix in the works....but need to do some thorough testing to ensure that I don't break backwards comparability for existing PromEx users.

[2021-04-30 21:07] akoutmos commented on #42
No pressure, just checking in. Any progress or thoughts on this one?

[2021-05-01 01:41] akoutmos commented on #48
Could you give this branch a test drive and see if it resolves your issue? I tested this out with the example app in the repo and it looked like it fixed the issue that I was able to repro...but another real world test would be much appreciated :).

https://github.com/akoutmos/prom_ex/pull/56

[2021-05-01 13:35] Bastes commented on #42
Got a bit sidetracked by work life sadly, but I'm still keeping it in mind ; just waiting for a bit of free time to get going.

[2021-05-01 21:57] akoutmos commented on #42
No worries at all! I totally understand. Just wanted to check in :)

[2021-05-03 12:17] pallix commented on #48
Thanks for getting back to this.

I got the following error when starting the app, even when `upload_dashboards_on_start: false`:

[code]

The connection to the grafana is currently not available from this machine but since I disabled the upload with `false` it should work but does not. `Serial` is one of the metadata I used in the events.

[2021-05-03 14:46] pallix commented on #48
I tested on a few apps locally and uploaded to a remote server and it works fine.

[2021-05-03 15:12] akoutmos commented on #48
Sounds good! I'll add some tests around this to the suite and merge shortly afterwards. Thanks for giving it a test drive :).

[2021-05-05 11:30] pallix commented on #48
I have a problem when uploading a new dashboard:

[code]

Could it be related to this issue? The file is there.

[2021-05-06 02:05] #48 closed

[2021-05-06 08:14] pallix commented on #48
I have a problem related to this issue: when uploading the app dashboards to different folders (one for each `env`), a last write win situation occurs. The dashboards from the previous folder are removed and only the latest folder has the dashboards.

This occurs even with my own dashboard_uid having this string `"#{env}:#{otp_app_name}:#{module_name}:#{dashboard_otp_app_name}:#{dashboard_path}"`

[2021-05-06 10:11] pallix commented on #48
The problem above does not occur if I put the `env` in the title, but since I already distinguished the env with the folder, I didn't want to put the env name in the title.

[2021-05-06 13:56] akoutmos commented on #48
Can you open up a new issue for that. Grafana is a bit weird with the name/uid resolution so while it is different than the problem in this issue, def something I'll need to look into. Thanks!

[2021-05-07 09:53] pallix opened #57 "[BUG] Uploading a dashboard to two different folders problem"
It's currently not possible to upload the same dashboard to two different folders. In my setup I would like to have one folder for each deployment environment of the app, thus I need to upload the dashboard to different folders. Each folder contains the dashboard of an environment.

When uploading first to `buga` folder (when the application starts)  and then to `bugb` folder (when the application

[2021-05-18 12:27] pallix commented on #57
@akoutmos did you get any chance to look at it?

[2021-05-18 13:35] akoutmos commented on #57
I think I have come up with a solution to solve this problem without breaking backwards compatibility. Unfortunately I've been a bit swamped with work the past couple of weeks, and have this on the TODO list for next week.

[2021-05-19 08:09] pallix commented on #57
Glad to hear that! I had a harddrive crash so stuffs got delayed on my side too :-)

[2021-06-07 22:30] akoutmos opened #62 "Add additional routes config to Phoenix plugin"
Add something like so to support labels for routes not covered by the router module:

[code]

[2021-06-08 03:25] akoutmos opened #64 "Add Metrics for `[:phoenix, :socket_connected]` Phoenix event"
Add additional metrics and grafana dashboard https://hexdocs.pm/phoenix/Phoenix.Logger.html

[2021-06-08 21:31] #62 closed

[2021-06-11 18:04] akoutmos opened #66 "Add persistent_term info to BEAM plugin"
Capture info from https://erlang.org/doc/man/persistent_term.html#info-0 and add it to the BEAM dashboard

[2021-06-17 02:56] akoutmos opened #68 "LiveView module coming back as unknown"
Use Socket.view instead

[2021-06-17 07:08] zmagajna opened #69 "[BUG] ** (ArgumentError) cannot convert the given list to a string."
**Describe the bug**
I have a problem plugging PromEx on my umbrella project, application is using GraphQL and ecto on the different applications. I have set up PromEx as a seperate application just to test it out for my case, set up in the config metrics server and exposing it to the prometheus. but when the call is made to the exposed endpoint I get an error:

[code]

Where the keyword list is a

[2021-06-18 18:32] akoutmos commented on #69
Release `1.2.1` has the fix! Thanks for finding the bug and opening up the issue :)

[2021-06-18 18:32] #69 closed

[2021-06-18 19:52] zmagajna commented on #69
Try it just and it works. Thanks for the quick response.

[2021-06-23 15:35] emoragaf opened #71 "[FEATURE] Support multiple Routers in the Phoenix Plugin"
**Is your feature request related to a problem? Please describe.**
There's no clear way of configuring the Phoenix Plugin to support multiple phoenix endpoints/routers

**Describe the solution you would like to see**
Having the option to pass a list of routers to the Plugin options.

**How would you expect this feature to work**
Having the Phoenix Plugin accept the following:

[code]

[2021-06-23 16:55] emoragaf commented on #71
Supporting multiple routers on just one Plugin it's a little more complex than I first thought.

If the router's endpoints are using all the same event_prefix is pretty straight forward, we can extend `get_conn_tags/2` to handle a list of routers to try and fetch the info.

The tricky part comes when each router endpoint has it's own `event_prefix`. Mostly because we need to listen to a different

[2021-06-30 03:59] #68 closed

[2021-06-30 03:59] #66 closed

[2021-07-04 17:00] robsonpeixoto commented on #30
What do you think about instead of force a datasource id create a variable that allow the user choose the prometheus used for a specific dashboard? There are a lot a different approach to manage the observability infrastructure. For example:
You can have 1 prometheus for each environment but only one grafana access all prometheus. Or you can have a prometheus for each namespace for each kubernetes

[2021-07-06 14:17] akoutmos commented on #30
Hey @robsonpeixoto! At the moment, I don't think that this would become a feature directly. Although, this does raise a good question. I.e how can some simple massaging be done to the JSON Grafana templates after PromEx has gone through and done it's EEx pass?

Given that the dashboard definition is simply JSON, I could very easily see PromEx having a `transform` step, where you can provide an MFA

[2021-07-06 14:56] robsonpeixoto commented on #30
Yep, is possible @akoutmos.

[2021-07-06 16:32] akoutmos opened #78 "Add optional transform step for EEx dashboard templates"
Hey @robsonpeixoto! At the moment, I don't think that this would become a feature directly. Although, this does raise a good question. I.e how can some simple massaging be done to the JSON Grafana templates after PromEx has gone through and done its EEx pass?

Given that the dashboard definition is simply JSON, I could very easily see PromEx having a `transform` step, where you can provide an MFA

[2021-07-08 19:04] akoutmos commented on #71
I merged in your changes and will cut a release in the coming weeks as I have some other things that need to be in this next release. Thanks for the contribution!!

[2021-07-08 19:04] #71 closed

[2021-07-21 18:47] jlmartins-sf opened #81 "[BUG] phoenix_http_requests_total - High and Strange values"
**Describe the bug**
I add the prom_ex library to my umbrella application to collecting my metrics. And my application running inside a docker container, and my application sent these metrics I taken to my grafana/prometheus, but it seems to be a little bit odd and I don't know why. I testing replicate the example it has here in this repository, and I couldn't figure it out, and I like to know if

[2021-07-22 14:43] akoutmos commented on #81
Thanks for opening up the issue @jlmartins-sf. That def does not seem right. I'll play around with the PromQL query today and see if I can figure out why it is so off.

[2021-07-27 16:34] jlmartins-sf commented on #81
Thanks for the project, @akoutmos! I await your verification for this possible issue. Thank you!

[2021-07-27 16:39] akoutmos commented on #81
Hey @jlmartins-sf! I played around with the PromQL query but forgot to respond to you -_-.

I wasn't able to see anything that would lead me to believe that the PromQL query that is feeding the dashboard is incorrect. Not that that isn't possible, but I was unable to repro and the query looks right. Is that service perhaps getting traffic behind the ALB hence the discrepancy? Any services performi

[2021-08-04 00:59] akoutmos commented on #42
It sounds like this PR does what you are looking for: https://github.com/akoutmos/prom_ex/pull/83

Closing this issue for now, but feel free to re-open if I am mistaken.

[2021-08-04 01:01] akoutmos commented on #81
Any additional details regarding this @jlmartins-sf?

[2021-08-04 03:18] #64 closed

[2021-08-04 03:51] jlmartins-sf commented on #81
Hello, @akoutmos.
First, sorry for the delay!

I checked in my application and visualized that the metric counter is adding gradually and only resets when a new deployment is done in ECS or restarting the pod.

The resets in the chart below were the dates of the deploys that were made.
![http_requests_total_1](https://user-images.githubusercontent.com/79992021/128118502-97e41457-40cc-432b-b597-278

[2021-08-04 18:57] Bastes commented on #42
Nice, thank you, I'll look into it :)

[2021-08-28 02:09] pedro-gutierrez opened #91 "[BUG] Potential inefficiency in Plug.Cowboy plugin"
**Describe the bug**

[This call](https://github.com/akoutmos/prom_ex/blob/b0bd0fe3ec93edbfcb26d73c0d3b1738e60b0f07/lib/prom_ex/plugins/plug_cowboy.ex#L228) in Plug.Cowboy plugin suggests we are doing an extra call to the router in order to resolve the parameterised path if our router is not Phoenix based.

This could impact performance or produce unexpected side effects if for some reason the req

[2021-09-01 03:33] akoutmos opened #93 "Phoenix Dashboard updates"
The Phoenix dashboard needs to present the recently added Socket metrics

[2021-09-01 03:33] akoutmos opened #94 "Ecto Dashboard updates"
The Ecto dashboard needs to be updated to include the total time metrics that were recently added.

[2021-09-02 15:23] emoragaf opened #95 "[BUG] PlugRouter plugin will fail to handle request not handled by a Plug.Router"
**Describe the bug**
A request not handled by a Plug.Router module won't have data under `%Conn{private: %{plug_route: ...}}` this will cause an error on the `path/1` function

https://github.com/akoutmos/prom_ex/blob/1.4.0/lib/prom_ex/plugins/plug_router.ex#L211-L214

Error:

[code]

**To Reproduce**
Steps to reproduce the behavior:

Add a plug that responds to a path that won't be resolved by Pl

[2021-09-05 03:40] akoutmos commented on #95
Thanks for the fix! A new release will be cut in the next couple days :).

[2021-09-05 03:40] #95 closed

[2021-09-26 04:01] akoutmos opened #98 "Switch to using Exception.normalize"
Some PromEx plugins are dropping exception events at times due to not handling Elixir struct exceptions. Switch to using Exception.normalize where necessary to avoid dropping exception events.

For example in the LiveView plugin, switch to:
[code]

[2021-10-11 07:01] b1az commented on #57
@akoutmos any chance you could publish this branch, even if in a WIP state? Maybe someone else will be able to take up the baton.

[2021-10-11 08:12] hukl opened #99 "[BUG] Hex dependency resolution failed with Phoenix 1.6.0"
When trying to use the latest Prom_Ex with Phoenix 1.6.0 I get this dependency issue

Failed to use "telemetry_poller" (version 1.0.0) because
  prom_ex (version 1.4.1) requires ~> 0.5.1
  mix.lock specifies 1.0.0

** (Mix) Hex dependency resolution failed, change the version requirements of your dependencies or unlock them (by using mix deps.update or mix deps.unlock). If you are unable to resolv

[2021-10-12 17:37] AbhishekBose opened #101 "Empty grafana dashboards"
I have setup prom_ex for my phoenix elixir application as defined in the tutorial.
Trying to test out the prom_ex built in plugins:

- Plugins.Application,
- Plugins.Beam,
- {Plugins.Phoenix, router: QuizRoomsWebWeb.Router, endpoint: QuizRoomsWebWeb.Endpoint}

The `mix prom_ex.dashboard.publish` also executes successfully.
On running the application, I am expecting something to show up on the graf

[2021-10-12 19:43] akoutmos commented on #101
I notice that the Phoenix Endpoint dropdown in the dashboard is set to `None`. I am guessing that in your PromEx config, perhaps the Endpoint module is incorrect? Also, what version of Phoenix are you running?

[2021-10-13 19:52] #98 closed

[2021-10-13 20:04] #99 closed

[2021-10-15 07:33] AbhishekBose commented on #101
@akoutmos
This is the link to the dummy prom_ex test project --> [](https://github.com/AbhishekBose/prom_ex_test_project)

Ran it on my local and getting similar errors for phoenix and liveview dashboards. Screenshots below

![Screenshot 2021-10-15 at 1 01 33 PM](https://user-images.githubusercontent.com/15029917/137449519-52d817ea-569a-478e-b089-f922c0ba4abc.png)
![Screenshot 2021-10-15 at 1 01 2

[2021-10-18 16:48] AbhishekBose commented on #101
@akoutmos
Can you kindly have a look at this?

[2021-10-18 17:11] akoutmos commented on #101
Sorry about that. I totally missed your last message. I'll have a look at your test application in a couple days as I am a bit swamped at the moment. Thanks for putting that together! That will really help :)

[2021-10-19 17:31] #81 closed

[2021-10-29 18:03] akoutmos commented on #101
This one is turning out to be quite a bit of work unfortunately :/. Still working on getting true umbrella support working in PromEx as this issue turns out to be the same issue as #31. That said, I probably need a couple more weeks till I land on an implementation I like.

[2021-10-29 18:05] akoutmos commented on #99
There should be another release coming out over the next couple days :)

[2021-10-29 20:17] cdesch commented on #99
Thanks @akoutmos ! Sounds great! I'm looking forward to it!

[2021-11-03 17:21] AbhishekBose commented on #101
Cool. No problem. Will be following the thread.

[2021-11-10 23:23] robsonpeixoto opened #104 "Missing 1.5.0 tag on git"
The 1.5.0 was released on hex.pm https://hex.pm/packages/prom_ex/1.5.0 but do not exists a tag on git history.

[2021-11-10 23:52] akoutmos commented on #104
Thanks for the reminder! This is why I shouldn't cut releases late at night hah!

[2021-11-10 23:52] #104 closed

[2021-11-11 12:03] mustela opened #105 "[NEED_HELP] Sending custom events"
Hello there! First of all, I love the library, thanks a lot for your amazing work!

Im trying to create my own plugin but Im struggling to see the results in prom. Im sure there is something stupid Im doing wrong, but I can't find what it is :/

My plugin:
[code]
Then in my code Im doing:

[code]

And in the console I can see that the event is being called correctly
[code]
I but I can't find a met

[2021-11-14 23:37] akoutmos commented on #105
Sorry for the delay...just saw this.

It looks like you are trying to use the `:count` value from the measurements payload, but that field does not exist based on the debug output you provided. Your telemetry execute call needs to be updated to:

[code]

[2021-11-18 08:57] mustela commented on #105
Thank you so much!! That did the trick!

[2021-11-18 08:57] #105 closed

[2021-11-18 22:21] akoutmos commented on #105
Glad that worked :)

[2021-12-08 22:34] akoutmos opened #106 "[FEATURE] Capture emu flavor in BEAM plugin"
When using OTP 24+, add a call to get the emu_flavor of the VM using: `:erlang.system_info(:emu_flavor)`

[2021-12-17 14:38] pauljamescleary opened #107 "Customize Plugins like PlugRouter to pass in custom distribution buckets"
**Is your feature request related to a problem? Please describe.**
For defining SLI metrics / dashboards, we need the ability to align latency buckets with our latency thresholds for HTTP request.

**Describe the solution you would like to see**
We use your library extensively (thank you), but would like the ability to pass in additional configuration options (specifically the latency buckets).

I

[2021-12-20 20:44] akoutmos commented on #107
Hey Paul and sorry for the delay. Been a little afk during the holiday season :).

This has been on my mind for a while as well, I just haven't come up with a good solution for it. The reason for this being that most plugins have multiple distribution metric types, so you couldn't define 1 bucket list and pass that to the plugin as the plugin wouldn't know what data point the buckets apply to. The

[2021-12-23 02:02] #106 closed

[2021-12-24 15:31] akoutmos commented on #15
Once #78 is done, you can achieve the same goal

[2021-12-24 15:31] #15 closed

[2022-01-04 20:50] juddey opened #111 "[FEATURE] Update Finch dependency to 10.x"
Hi Alexander

Just wondering if you know of any blockers OTOH to upgrading `finch` to the `0.10.x` version?  If not, happy to put through a PR if that's a change you'd like.

[2022-01-04 20:52] juddey commented on #111
Dependency Resolution FYI:
[code]

[2022-01-12 01:28] akoutmos commented on #111
That sounds good to me. Feel free to submit a PR! Thanks :)

[2022-01-15 02:50] #78 closed

[2022-01-15 02:57] akoutmos commented on #111
Updated to 0.10.2. Thanks!

[2022-01-15 02:57] #111 closed

[2022-01-20 21:54] juddey commented on #111
Thanks Alex!

[2022-02-01 15:34] dsschneidermann opened #114 "PromEx.Plugins.Broadway assigns "acknowledger" name to message metrics tag rather than module name"
From
https://github.com/akoutmos/prom_ex/blob/3557e828cf3905adaf6719003e68b65294b62288/lib/prom_ex/plugins/broadway.ex#L248

This populates the `name` tag with the module name of my producer module, eg. in my code `App.Producers.TestProducer`

It conflicts with the expectation the dashboard has, that message metrics are reported with the name of the Broadway module, eg. in my example code this is

[2022-02-02 09:09] lucazulian opened #115 "Metric and label naming"
Using `prom_ex` in all application in a company could be raise the problem about metrics and labels.
The problem raises, for example, with multiple application with the same metric semantic but with different metric name, i.e.:
- for `my_cool_app` -> `my_cool_app_application_dependency_info{modules="69",name="hex",version="0.20.5"} 1`
- for `my_other_cool_app` -> `my_other_cool_app_application_dep

[2022-02-02 17:22] akoutmos commented on #115
Hey Luca and thanks for reaching out!

Let me address a couple of things in your issue description prior to giving you my thoughts on this feature request (if I follow correctly that is haha).

Prometheus will create a new time-series for a unique combination of metric names *and* their unique key-value label values. As a result, regardless of whether the application name is in the label or in the

[2022-02-02 17:23] akoutmos commented on #114
Hey Dennis!

I'll take a look at this either tonight or tomorrow and get back to you. I am almost positive that the example app in the repo is working correctly....so I am curious what is going on in your case.

[2022-02-05 17:17] dsschneidermann commented on #114
Thanks, I will check the example repo and report back (after this weekend)

On Wed, 2 Feb 2022, 18:23 Alexander Koutmos, ***@***.***>
wrote:

[2022-02-07 14:44] lucazulian commented on #115
Hi Alexander, thank you so much for the answer.
First of all, I would like to thank you for this library, it reduces a lot of the time used to instrument our applications and simplify monitoring stuff.

I agree with you that regardless of whether the application name is in the label or in the name, the same number of time-series will be created in Prometheus, we consider this as its "internal" opt

[2022-02-09 10:52] dsschneidermann commented on #114
Hi again @akoutmos, you're right, the example applications have the answer. What makes it work is specifically assigning the acknowledger for the pipeline, eg. lines
https://github.com/akoutmos/prom_ex/blob/d4346eb0ca87ffba5276ffaf0723b8f7c4f5b4fd/example_applications/web_app/lib/web_app/temp_processor.ex#L14
and
https://github.com/akoutmos/prom_ex/blob/d4346eb0ca87ffba5276ffaf0723b8f7c4f5b4fd/exa

[2022-02-10 12:48] LostKobrakai opened #119 "[FEATURE] Delayed startup for polled/manual metrics"
**Is your feature request related to a problem? Please describe.**
PromEx does start all metrics collection together, but manual or polled metrics might need processes started later in the supervision tree before being able to execute successfully. There's the `:manual_metrics_start_delay` config, but this neither supports polled metrics nor is is it really bullet prove given startup may not take

[2022-02-15 03:19] akoutmos commented on #115
I haven't forgotten about this issue :P. Still pondering on it and trying to think about how to proceed.

[2022-02-15 07:36] lucazulian commented on #115
No problem, I understand that it's not a simple issue to reason about, if I can help in some ways don't hesitate to contact me.  :pray:

[2022-02-15 22:05] akoutmos opened #121 "[BUG] Update Oban"
The latest version of Oban removes the `:circuit_backoff` field from the config (https://github.com/sorentwo/oban/pull/606). The PromEx plugin should be updated to no longer capture this data point.

[2022-02-16 10:41] lucazulian commented on #115
I found this article about [label cardinality](https://grafana.com/blog/2022/02/15/what-are-cardinality-spikes-and-why-do-they-matter/), maybe this can help with this discussion

[2022-02-24 17:37] akasprzok opened #123 "[FEATURE] Configurable ETSCronFlusher interval"
**Is your feature request related to a problem? Please describe.**
ETSCronFlusher is called frequently when scrape interval is greater than 7.5s.
This seems unnecessary, since the reductions will be performed at the scrape interval anyway.

**Describe the solution you would like to see**
By making the interval configurable, users can set it to a value greater than their scrape interval.
Then ETSCr

[2022-02-25 04:15] akoutmos commented on #119
Totally missed this issue. Sorry about that!

I am not sure that I follow 100% based on the example. But it sounds like you would defer those groups from starting and instead you would manually activate them based on the `StartMetrics` child processes?

[2022-02-25 04:43] akoutmos commented on #123
I added the implementation for this in #122. Thanks for the input!

[2022-02-25 08:43] LostKobrakai commented on #119
Yeah, that's the idea. We have quite a few periodic or manual metrics, which require our repo to be started, but of course we don't want to miss telemetry of the repo itself.

[2022-02-25 15:18] akoutmos commented on #119
For the missed metrics problem, I would suggest adding PromEx as the first item in your `application.ex` supervision tree. IIRC Ecto emits an init event that PromEx attaches to. Phoenix on the other hand does not have any init events (I should probably make a PR for that to Phoenix now that I mention it), and PromEx jumps through some hoops to get the config metrics from Phoenix.

That aside, I ca

[2022-02-26 19:58] akoutmos commented on #115
I think i have a good way to do this without making it difficult to maintain. I scheduled it for release 1.9. If you want to tackle this, lmk and we can sync up as to what I have in mind.

[2022-02-27 06:22] #44 closed

[2022-02-27 06:22] #121 closed

[2022-02-27 06:22] #123 closed

[2022-02-27 16:17] lucazulian commented on #115
Yep, I would like to tackle this issue, thank you!

[2022-02-27 18:47] akoutmos commented on #115
Awesome! That is much appreciated. When I have a moment in the next couple days, I'll jot down some notes here as that what I think could help move this feature along :).

[2022-03-01 07:27] adam-dicker opened #125 "`PromEx.Plugins.Phoenix.manual_metrics/1` ignores `:metric_prefix` option"
# Issue
`PromEx.Plugins.Phoenix.manual_metric/1` ignores `:metric_prefix` option, unlike all of the other plugins.

[code]

# Expected Behavior

For consistency with other plugins, I think this should be:

[code]

That is, will derive the prefix from the opts if available rather than hard coding it

[2022-03-01 16:05] #125 closed

[2022-03-01 22:04] akoutmos commented on #115
Alrighty, as promised, here are some of my thoughts as to how I would possibly approach this problem (feel free to deviate from these suggestions as they are just suggestions 😄 ):

- Add an additional [default dashboard assign](https://github.com/akoutmos/prom_ex/blob/master/lib/mix/tasks/prom_ex.gen.config.ex#L195-L201) that specifies where the `otp_app` is in the time-series datapoint. Perhaps a

[2022-03-24 09:59] JowiM opened #127 "[BUG] - prom_ex.dashboard.publish finch not loaded?"
This week we upgraded from 1.6 to 1.7.1. When running mix prom_ex.dashboard.publish both on our pipeline and local we are getting the following error. It looks as finch is not loaded.

`
22:06:03.477 [error] GenServer Mix.Tasks.PromEx.Publish.Uploader terminating

** (ArgumentError) unknown registry: Backend.PromEx.GrafanaClient
(elixir 1.13.2) lib/registry.ex:1343: Registry.key_info!/1
(elixir 1.

[2022-03-25 13:41] akoutmos commented on #127
Thanks for opening up the issue @JowiM. I'll take a look at this over the weekend and provide a fix

[2022-03-28 10:42] sardaukar opened #129 "[BUG] Documentation for using Grafana Agent (Cloud)"
**Describe the bug**
The docs have no examples on how to integrate with Grafana Cloud, even though https://github.com/akoutmos/prom_ex/pull/122  seems to indicate it's possible. A paragraph or so in the docs would be great.

[2022-04-01 06:52] #129 closed

[2022-04-06 00:08] cigrainger commented on #129
I see this is closed, but were docs added?

[2022-04-06 01:41] akoutmos commented on #129
Not sure why the issue was closed...but a tutorial for integrating with Grafana Cloud has not yet been written. It is on the todo list though :).

The docs should be enough to get you started though: https://hexdocs.pm/prom_ex/PromEx.Config.html
Look for `:grafana_agent` and you'll see all the supported config settings.

[2022-04-06 01:49] cigrainger commented on #129
Fantastic. Thanks so much @akoutmos!

[2022-04-08 05:52] yordis opened #132 "[FEATURE] Add Tesla Plugin"
**Describe the solution you would like to see**

As a user, I want PromEx to include Tesla Plugin.

**How would you expect this feature to work**

Tesla HTTP Middleware client (fair to say popular) has built-in Telemetry middleware that it would be nice to collect with low effort.

[2022-04-08 10:24] romul commented on #107
@akoutmos Any news for this one? Would be great to have the opportunity to customize buckets for all plugins.

[2022-04-08 10:30] lkananowicz opened #133 "Integration with Telemetry"
Hi, this is more of question than issue.

I wonder if there is a way to send events to PromEx which are already in Telemetry. I guess attaching additional Telemetry handler would be necessary, but how to send/forward those events to PromEx.

Basically my question is would it be possible to resend events to PromEx without custom plugin implementation.

It is related to this question: https://github

[2022-04-11 16:14] akoutmos commented on #133
Hello and thanks for reaching out! I think there might be a bit of a misunderstanding here. Telemetry is merely a tool for exposing events via synchronous function dispatch. What attaches to those telemetry events becomes the responsibility of the library user.

PromEx takes on a lot of that responsibility by dealing with the execution and attaching-to of telemetry events and formats the events in

[2022-04-11 16:14] #133 closed

[2022-04-11 16:42] akoutmos commented on #132
Hello Yordis and thanks for reaching out!

Support for the Tesla telemetry middleware is indeed on the roadmap. Unfortunately, I won't be able to give you a solid ETA as I am currently working on PromEx features requested by some of my consulting clients. If I were to ballpark estimate...I would say I can get to this in the next 3 months or so.

[2022-04-11 22:49] nacengineer opened #135 "[FEATURE] Add a mix task to render the json for manual import into Grafana"
Thanks for all the work on this mix module.

This might be a dumb request but our production servers don't have access to our Grafana instance so auto publishing to Grafana, while nice, isn't really something we can do.

I think I see the dashbaords in the /priv directory with a little EEX inject but IMO it would be nice to have a mix task that just spits out the dashboards into STDOUT for copy an

[2022-04-12 12:38] akoutmos commented on #133
Awesome! Feel free to ping me on Elixir Slack if you need any help with the plugin :)

[2022-04-12 17:50] akoutmos opened #136 "Add a `CONTRIBUTING.md` file"

[2022-04-12 18:19] akoutmos commented on #132
Good call. I haven't gotten around to making a `CONTRIBUTING.md` file yet, but I'll add that to the TODO list.

For new PromEx plugins, you will need to create a plugin module that will attach to all of the relevant Telemetry events that the Tesla middleware emits, and you will need to create a Grafana dashboard template to render all those datapoints. A good place to start would be to take a look

[2022-04-19 13:11] DaniruKun opened #137 "[FEATURE] Make it clear that `metric_prefix` is a list of atoms, or handle more gracefully"
**Is your feature request related to a problem? Please describe.**
From the docs about [PromEx.Plugins.Ecto](https://hexdocs.pm/prom_ex/PromEx.Plugins.Ecto.html) it is unclear what is the type of the `metric_prefix` argument. The naive assumption is that it is a `binary` (or `String`), but looking at the code, it assumes a list of atoms is passed: https://github.com/akoutmos/prom_ex/blob/d76956385

[2022-04-19 13:58] DaniruKun opened #138 "[BUG] Ecto plugin assumes Repo configuration is defined in the same application"
**Describe the bug**
Suppose we have an Elixir umbrella app, where we have an app `myapp`, and a `shared` app that contains things like shared dependencies, a shared `Ecto.Repo` etc. :
[code]

When configuring the `PromEx.Plugins.Ecto` , we explicitly define the Repo we want:

[code]

However, the plugin assumes that we have the `Shared.Repo` defined in `myapp`, when actually we want to define it

[2022-04-19 14:12] DaniruKun commented on #138
It seems that in my case even setting something like
[code]

is enough to make it work.

[2022-04-19 14:43] DaniruKun opened #139 "[FEATURE] Add customisable duration unit for Ecto plugin"
**Is your feature request related to a problem? Please describe.**
The default time unit is milliseconds.

**Describe the solution you would like to see**
Allow to select different time units like in `prometheus_ecto`:

https://hexdocs.pm/prometheus_ecto/Prometheus.EctoInstrumenter.html#module-configuration

**How would you expect this feature to work**
A description of a possible API, behaviour,

[2022-05-10 13:11] dsschneidermann commented on #114
@akoutmos Getting back to my code and prom_ex integration here and I'm finding a potential trap with this `transform` addition that skips all acks back to the original producer.

Not sure how this is missed, but the impact on the standard Broadway producers is huge, fx. it would result in messages not being dequeued from RabbitMQ (from my reading of the source code [apply_ack_func would never be c

[2022-05-31 04:58] HarshBalyan commented on #115
@lucazulian @akoutmos any update on this one?

[2022-06-03 06:34] lucazulian commented on #115
Hey, @HarshBalyan, thanks for your interest. I'm so sorry, but I'm still working on this as it would be a not so easy issue.

[2022-06-09 10:57] maxmarcon commented on #138
Exactly, I had the same problem and I came up with the same workaround

[2022-06-09 21:46] brandonchoe commented on #132
Hi, I'd like to grab this issue. I'll have a PR up this weekend.

[2022-06-10 14:17] maxmarcon commented on #114
works! Thanks you again.

👍 from my side

[2022-06-14 17:46] #138 closed

[2022-06-16 04:38] akramhussein opened #146 "[BUG]: Metrics server continues to run on default port even as well as port defined"
**Describe the bug**

When defining a `port` in the `metrics_server` config, the `metrics` endpoint will work on the defined port but also remain working on the default port of the server.

A clear and concise description of what the bug is.

**To Reproduce**

Steps to reproduce the behavior:

Use the following config in `dev.exs` or `config.exs`:

[code]

**Expected behavior**

- `/metrics` endpo

[2022-07-19 11:47] begleynk opened #149 "[BUG] Paths that are depend on subdomain don't get resolved correctly when wildcard routes are involved"
**Describe the bug**
This is admittedly a bit of a niche bug, but I think I've figured out the root cause here.

Basically, I was surprised to see that all my Phoenix dashboard paths looked something like this:
![image](https://user-images.githubusercontent.com/1065208/179740181-0d6987a7-7e39-4ea4-b5b7-2f8d49362742.png)

Looking at `/metrics`, I saw that regardless of what path I visited, the phoe

[2022-07-22 20:46] #127 closed

[2022-07-27 20:23] patmaddox opened #154 "[BUG] Scrape failure logs with info/debug level"
(just saving this for later, will fill in more info)

Not quite sure what's going on. It's prefixed with `[info]` but claims `level=debug`. This is for an error that we weren't able to diagnose until we reduced the logger level.

[code]

[2022-07-27 21:29] patmaddox commented on #154
I suspect maybe there’s little/nothing to do here? Because the agent is running in its own OS process, it doesn’t actually share the elixir logger.

So at best we could configure where agent logs go, and treat them separately from the elixir app?

[2022-07-31 17:14] akoutmos commented on #154
I have had issues with Grafana Agent log levels in the past. I.e when I set it to a certain level, I still get lower level logs. Perhaps this has been fixed in later versions? I'll make a PR to update the available GA versions that PromEx supports.

[2022-08-04 00:21] patmaddox opened #158 "[BUG] Documentation about config_opts accepting an MFA is incorrect?"
**Describe the bug**

[Documentation for `config_opts`](https://github.com/akoutmos/prom_ex/blame/611912ce63d4122fedfe8b616ed83cb88521f90f/lib/prom_ex/config.ex#L157) says: "This option can either accept an MFA that will return a string of the full path where the YAML configuration file is, or a keyword list with options so that PromEx can generate a config file for you."

Looking at [the code](ht

[2022-08-04 17:27] akoutmos commented on #158
That is definitely a miss on my part. It's something I wanted to implement but haven't gotten around to it. Looks like I put the cart before the horse on the docs though. Is this something that you would like to tackle? It shouldn't take very long to implement.

[2022-08-04 18:24] patmaddox commented on #158
I don't think so. We started off by defining our config, assuming the MFA thing would work. The args to MFA essentially duplicate the normal config, but also require adding all the missing keys that PromEx sets by default.

Instead, we found it quite elegant to provide a different template file, as in #159

[2022-08-16 19:17] mikl commented on #119
If you put prom_ex first in your `application.ex`, but have a polling metric that relies on the Ecto repo being available, prom_ex will run the polling code immediately, resulting in a runtime error like this:

[code]

This can be mitigated by checking if the repo is running in your polling callback, or switching the order in `application.ex`, but that has side-effects.

[2022-08-16 19:33] mikl commented on #119
Should someone want simply skip the first metrics run (to avoid the error), you can add something like this to your metrics callback:

[code]

[2022-08-23 23:55] lairtonlelis commented on #135
I was able to generate each dashboard that I was using individually by using the following mix task:
[code]
You need to replace `application` with the dashboard you want to export. This will generate a file in `priv/application.json` that you can use to import to Grafana.

[2022-08-24 00:05] lairtonlelis commented on #135
You can find the documentation for this command here:

https://hexdocs.pm/prom_ex/Mix.Tasks.PromEx.Dashboard.Export.html

[2022-08-24 00:27] lairtonlelis commented on #115
If anyone else is interested in renaming their metric prefixes, this is how I did it:

- I had to add a `metric_prefix` option to each plugin defined on my `prom_ex.ex` file's `plugins` function. So if you have the `Phoenix` plugin, for example, it would be something like this:
[code]
- I also had to add a custom prefix to my `dashboard_assigns` function. For the `Phoenix` example, it would be som

[2022-08-25 18:34] anthonator opened #164 "Release for latest telemetry support"
Would it be possible to cut a release so `telemetry` ~1.1 is officially supported?

[2022-08-30 12:51] marcospgsilva commented on #114
Hi @dsschneidermann ! There's an exception while using PromEx.Plugins.Broadway with [Broadway Kafka](https://github.com/dashbitco/broadway_kafka) and adding the transform/2 function.

The exception is:
`
[error] GenServer :"condition_sync_producer_consumer.Broadway.Producer_0" terminating
** (KeyError) key :topic not found in: %{}
    (broadway_kafka 0.3.0) lib/broadway_kafka/producer.ex:557: anon

[2022-08-31 10:22] maxmarcon commented on #114
@marcospgsilva there is a simpler, general way to solve this and other similar issues that may arise: Instead of selecting the fields of the `Message` struct that you want to copy into the new message, just copy the entire original message and only update the acknowledger field. This is what I do:

[code]

And you're good to go. Whatever fields the producer might expect to be in the message, they'

[2022-08-31 11:50] marcospgsilva commented on #114
@maxmarcon Thank you! I'll try your solution.

[2022-09-01 02:39] adamu commented on #164
Maybe `prom_ex` should actually require `~> 1.0`, not `~> 1.0.0`.

[2022-09-01 02:45] adamu commented on #164
To add some detail, the latest release does not include #131, so it's not possible to add `prom_ex` (which depends on telemetry `~> 1.0.0`) to a project that is using telemetry `~> 1.1`

[2022-09-30 15:46] tyhill2 opened #172 "Permissions needed: folders:read"
Hello, I am having an issue with Grafana being able to read the folder.

I have my app running in a container in AKS, grafana in a separate container, and prometheus in a separate container.

Here is the error:
[code]

Any help on this one?

[2022-09-30 16:02] tyhill2 commented on #172
I am signed into grafana with admin/admin

[2022-09-30 16:09] tyhill2 commented on #172
Ah, nevermind, my API Key was set to "Viewer". Changed it to "Admin" and everything works.

[2022-09-30 16:09] #172 closed

[2022-10-08 21:25] #139 closed

[2022-10-11 17:35] tyhill2 opened #173 "Log error messages"
Hello. I may not be understanding this correctly. How would I go about adding telemetry for the error message? I am currently using these plugins:

[code]

  And with those I can get the `status_code` and which `path` this 4XX or 5XX is coming back from, but it doesn't show the error message with it. Is there a way to achieve this? Or should I write my own plugin?

[2022-10-11 21:34] moniquelive opened #174 "How to configure my pipelines for `PromEx.Plugins.Broadway`?"
The documentation says I need to add a transformer function like this:

[code]

But `event` is a full `%Broadway.Message{}`, not just a `data:` field.
After I fix that (I think) with an example I found on another issue:

[code]

I start seeing errors of a missing `ack()` function. How do I implement that?

I'm using a RabbitMQ producer, if it helps.

Thank you for this project! It's a life saver.

[2022-10-12 01:24] akoutmos commented on #174
Hey there! I have not actually had the chance to use PromEx with Broadway+RabbitMQ (unfortunately). But another contributor iirc did and updated the docs to reflect what he discovered: https://github.com/akoutmos/prom_ex/blob/master/lib/prom_ex/plugins/broadway.ex#L34-L70

A new release hasn't been cut yet with those docs changes, so the HexDocs ones may be misleading. Let me know if those docs so

[2022-10-12 01:34] akoutmos commented on #173
Hello there! I may be misunderstanding what you are saying, but what you are asking for fits better in your logs as opposed to metrics. With timeseries metrics, you do not want to store text data as that will greatly increase the cardinality of your timeseries data. What I would suggest instead, is use something like Sentry or Loki to capture error logs, and then use PromEx to have the time series

[2022-10-12 02:08] tyhill2 commented on #173
Yes, I think that makes sense. I believe I am getting metrics and logging mixed/confused. I will look into Sentry and Loki. Is there a good way to get logs scraped by PromEx? Or does PromEx only scrape metrics?

[2022-10-12 02:46] akoutmos commented on #173
PromEx at the moment is only concerned about metrics. Logs and traces are currently out of scope for this project. Closing this issue for now as it sounds like you are on the right path now :).

[2022-10-12 02:46] #173 closed

[2022-10-12 11:41] dsschneidermann commented on #114
@akoutmos Reopen this to welcome a PR?

[2022-10-12 13:46] akoutmos commented on #114
I have reopened the issue. Any PRs are welcome that address this. I think the best place to start would be to add RabbitMQ and Kafka to the example app in the PromEx repo to have something that tests this E2E. It looks like the GenStage backed Broadway modules that I put together do not replicate the issues that people are encountering with RabbitMQ and Kafka.

[2022-10-12 14:26] moniquelive commented on #174
I see you reopened [this issue](https://github.com/akoutmos/prom_ex/issues/114).
That solution worked fine for me, besides being a lot of boilerplate code in my pipelines.

[2022-10-12 14:26] #174 closed

[2022-10-12 17:25] dsschneidermann commented on #114
@maxmarcon Please do, I've had to leave my Elixir project on the backburner for now.

[2022-10-15 20:59] maxmarcon commented on #114
I took a look at the code and I believe that this is no longer an issue since this commit: d76956385c5622096c88b33545c3998f7cc16de8. Before this commit, the pipeline's name was being extracted from an overwritten acknowledger. Since this commit, the name is extracted from the broadway event's metadata, which is the simple and obvious way of doing it. Overwriting the acknowledger just to make the p

[2022-10-19 14:43] #114 closed

[2022-10-29 22:38] shawarmaz commented on #101
Getting this too, except not in an umbrella

[2022-10-31 19:37] feld opened #176 "Entire application crashes at startup if folder exists but UID isn't recognized"
[code]

[2022-11-01 02:44] feld commented on #149
This affects me too. I have a similar situation for several apps at work.

[2022-11-01 13:15] feld commented on #149
Does this explain why I have these routes that show up but are always 0ms? Is it because the API call was a relative path when on a subdomain?

<img width="705" alt="Pasted Graphic" src="https://user-images.githubusercontent.com/40271278/199241667-15d599e7-1a44-4ee1-a130-728db7350763.png">

[2022-11-01 14:27] #176 closed

[2022-11-01 14:33] akoutmos commented on #149
Apologies @begleynk. I didn't see this issue until a reply was posted. If you want to work on the fix @begleynk that sounds good to me. I'll merge that in before the 1.8 release which I am trying to put together.

@feld What do the graphs look like if you don't mind posting them? The Grafana `current` field is sometimes unreliable and may report things that are a little off especially if traffic i

[2022-11-03 15:42] clandry94 opened #178 "[FEATURE] Global metric prefix override"
**Is your feature request related to a problem? Please describe.**
I'm currently instrumenting my Phoenix app with prometheus metrics exported to Datadog through the datadog-agent running as a sidecar. The sidecar automatically adds a prefix with the app name `my_app.<metric name>` and I'd like to remove the `otp_app` prefix name since it is redundant and all metrics now look like `my_app.my_app_p

[2022-11-04 17:21] feld commented on #149
I think I was mistaken. I believe prom_ex's phoenix plugin is always going to be exporting data for every known phoenix route (as seen above) and if there was no recent activity captured for those endpoints the grafana panel is still listing them but with 0ms for max/current. We're not hitting a lot of these endpoints as frequently as I expected either.

[2022-11-05 22:03] nichita-pasecinic commented on #176
Hi @akoutmos, I do receive the same error on container start-up

<details><summary>Error Stack (docker)!</summary>

[code]
</details>

[2022-11-12 17:41] feld opened #180 "Ecto plugin not reporting for all Ecto Repos"
I have two Ecto repos on my application as one is for fetching (non-prometheus related) statistics data from a readonly database. Now the main application database's stats aren't showing up properly. Most of the stats appear to be in the /metrics output but some are only reporting the existence of one of the Repos

e.g.,

[code]

[2022-11-21 15:32] mveytsman opened #182 "[BUG] Dependencies incompatible with latest Phoenix."
I get the following issue when upgrading Phoenix to `1.7.0-rc.0` on a project with prom_ex:

[code]

Could we have a release with an updated plug_cowboy dependency?

I see there's a PR https://github.com/akoutmos/prom_ex/pull/162 which loosens version requirements which will solve this.

[2022-11-25 20:08] mikl commented on #182
Just a FYI for anyone struggling with this, you can override this resolution problem by adding this to your `mix.exs`:

[code]